<mat-form-field appearance="fill">
    <mat-label>Categories</mat-label>
    <mat-select (selectionChange)="selectCategoryChange($event.value)" [(value)]="filter.categories" multiple>
        <div *ngFor="let category of categoryTreeList">
            <mat-option [value]="ICatToCat(category)" (onSelectionChange)="parrentCatSelectionChanged($event)">
                {{category.name}}
            </mat-option>
            <mat-option class="sub" *ngFor="let sub of category.sub" [value]="ICatToCat(sub)" (onSelectionChange)="subCatSelectionChanged($event)">
                {{sub.name}}
            </mat-option>
        </div>
    </mat-select>
</mat-form-field>

<mat-form-field appearance="fill">
    <mat-label>Preset Date Ranges</mat-label>
    <mat-select (selectionChange)="selectDateRangeChange($event.value)" [(value)]="selectedPreset">
        <mat-option *ngFor="let dateRange of dateRanges" [value]="dateRange">
            {{dateRange}}
        </mat-option>
    </mat-select>
</mat-form-field>
<mat-form-field appearance="fill">
    <mat-label>Enter a date range</mat-label>
    <mat-date-range-input [rangePicker]="picker" [disabled]="selectedPreset!='Custom'">
        <input matStartDate placeholder="Start date" [(ngModel)]="filter.startDate" (dateChange)="updateTransactions()">
        <input matEndDate placeholder="End date" [(ngModel)]="filter.endDate" (dateChange)="updateTransactions()">
    </mat-date-range-input>
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-date-range-picker #picker></mat-date-range-picker>
</mat-form-field>
<mat-date-range-picker #picker></mat-date-range-picker>
